.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /*  edit this part only */
  .shape {
    --BG-COLOR: #e0aa59;
    --OUTLINE-COLOR: #d48114;
    --OUTLINE-SIZE: 15px;
    width: 7rem;
    aspect-ratio: 1;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    outline: var(--OUTLINE-SIZE) solid var(--OUTLINE-COLOR);
    background: var(--BG-COLOR);
    box-shadow: 0px 0px calc(var(--OUTLINE-SIZE) + 25px) rgba(0, 0, 0, 0.438);
    animation: morph 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  }
  .numRowContainer {
    height: fit-content;
    animation: infiniteScroll 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  }
  @keyframes infiniteScroll {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(0, -50%);
    }
  }
  @keyframes morph {
    50% {
      --BG-COLOR: rgb(244, 163, 88);
      --OUTLINE-COLOR: #ab6b21;
      transform: rotate(150deg);
      border-radius: 20%;
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  